.video-hide{
    display: "block";
}

.highlight-link {
    color: white;
    text-decoration: none;
    transition: color 0.1s, text-decoration 0.1s;
  }
  
  .highlight-link:hover {
    color: #ff8097; /* màu khi hover (ví dụ xanh ngọc) */
    text-decoration: underline; /* thêm gạch chân khi hover */
  }
  
.bottom-overlay {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
  }
  
/* Container for the overlay */
.overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 9999;
}

/* Logo and Channel Name */
.overlay .logo-container {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.overlay .logo-container img {
width: 40px;
height: 40px;
margin-right: 15px;
}

.overlay .logo-container span {
font-weight: bold;
font-size: 18px;
}

/* Title styling */
.overlay .title {
font-size: 15px;
font-weight: bold;
margin-bottom: 10px;
}

/* Author and Source */
.overlay .author,
.overlay .source {
font-size: 14px;
margin-bottom: 5px;
}

/* Social Media Icons */
.social-icons {
display: flex;
justify-content: space-between;
margin-top: 15px;
}

.social-icons a img {
width: 25px;
height: 25px;
transition: opacity 0.3s;
}

.social-icons a img:hover {
opacity: 0.8;
}

.tooltip-content {
    max-width: 400px; 
    padding: 10px; 
    color: #FFFFFF"
}

.tooltip-content h2{
    margin-top: 0; 
    font-size: 24px;
}

.tooltip-content p{
    margin: 8px 0; 
    font-size: 18px;
}

.tooltip-content video{
    margin-top: 10px;
}


@media (max-width: 1080px) {
    .video-hide{
        display: none;
    }

    .bottom-overlay {
        visibility: hidden;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 8px;
        font-size: 14px;
        z-index: 9999;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: Arial, sans-serif;
    }
  
      
    .tooltip-content {
        padding: 10px; 
        color: #FFFFFF"
        }
        
        .tooltip-content h2{
            margin-top: 0; 
            font-size: 40px;
            margin-bottom: 30px;
        }
        
        .tooltip-content p{
            margin: 8px 0; 
            font-size: 30px;
        }
        
        .tooltip-content video{
            margin-top: 30px;
        }


        .overlay .logo-container img {
            width: 45px;
            height: 45px;
            margin-right: 20px;
        }
        
        .overlay .logo-container span {
        font-weight: bold;
        font-size: 25px;
        }
        
        /* Title styling */
        .overlay .title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 18px;
        margin-top: 15px;
        }
        
        /* Author and Source */
        .overlay .author,
        .overlay .source {
        font-size: 22px;
        margin-bottom: 5px;
        }
        
        /* Social Media Icons */
        .social-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        }
        
        .social-icons a img {
        width: 30px;
        height: 30px;
        transition: opacity 0.3s;
        }
        
        .social-icons a img:hover {
        opacity: 0.8;
        }
        
}